.Rproj.user
.Rhistory
.RData
.Ruserdata
*/*SCL
*/*/*SCL
*SCL
*png
.dropbox
.DS_Store
Icon*
*.pdf
# Ignore these directories
presentations/
*/*.asc
metapop models/*
species_distributions/sdm_masked/*
species_distributions/sdm_results/*
species_distributions/wc0.5/*
